div.row.admin
    div.col-xs-12.col-md-3.menu
        //- Left sidebar
        div.list-group
            a.list-group-item(ui-sref="admin.dashboard", ui-sref-active="active")
                i.fa.fa-tachometer.fa-fw
                &nbsp;
                span= __('Dashboard')
            a.list-group-item(ui-sref="admin.users", ui-sref-active="active")
                i.fa.fa-users.fa-fw
                &nbsp;
                span= __('Users')
            a.list-group-item(ui-sref="admin.modules", ui-sref-active="active")
                i.fa.fa-cubes.fa-fw
                &nbsp;
                span= __('Modules')
            a.list-group-item(ui-sref="admin.dist", ui-sref-active="active")
                i.fa.fa-bookmark-o.fa-fw
                &nbsp;
                span= __('Highlights')
            a.list-group-item(ui-sref="admin.ui", ui-sref-active="active")
                i.fa.fa-desktop.fa-fw
                &nbsp;
                span= __('Appearance')
            a.list-group-item(ui-sref="admin.uiel", ui-sref-active="active")
                i.fa.fa-picture-o.fa-fw
                &nbsp;
                span= __('UI elements')
            a.list-group-item(ui-sref="admin.social", ui-sref-active="active")
                i.fa.fa-share-alt.fa-fw
                &nbsp;
                span= __('Social networks')


    div.col-md-9.col-xs-12
        //- Right content
        div.row
          div.col-xs-12(ui-view="admin_content")