if user
    div.row.profile

        //- side bar
        div.col-xs-12.col-md-2
            div.row
                div.col-xs-12.text-center
                    ng-thumb-user(image="user.image")
                    div.mt5(ng-thumb="file", on-change="readFile()", ng-file-select="onFileSelect($files)")


        //- main content
        div.col-md-10.col-xs-12
            div.row
                div.col-xs-12.panel
                    div.panel-body
                        dl.dl-horizontal
                            dt= __("Username")
                            dd #{user.username}
                            dt= __("First name")
                            dd
                                span(ng-if="!showEditFirstName") {{user.firstName}}
                                div.input-group(ng-if="showEditFirstName")
                                  input.form-control(type='text', ng-model="user.firstName", autofocus, ng-enter="updateUser('firstName')")
                                  .input-group-btn
                                    button.btn.btn-danger(type='button', tabindex='-1', ng-click="cancelFirstName()")= __("Cancel")
                                    button.btn.btn-primary(type='button', tabindex='-1', ng-click="updateUser('firstName')")= __("Send")
                                i.fa.fa-edit.ml10.pointer(ng-click="editFirstName()", ng-if="!showEditFirstName")
                            dt= __("Last name")
                            dd
                                span(ng-if="!showEditLastName") {{user.lastName}}
                                div.input-group(ng-if="showEditLastName")
                                  input.form-control(type='text', ng-model="user.lastName", autofocus, ng-enter="updateUser('lastName')")
                                  .input-group-btn
                                    button.btn.btn-danger(type='button', tabindex='-1', ng-click="cancelLastName()")= __("Cancel")
                                    button.btn.btn-primary(type='button', tabindex='-1', ng-click="updateUser('lastName')")= __("Send")
                                i.fa.fa-edit.ml10.pointer(ng-click="editLastName()", ng-if="!showEditLastName")
                            dt= __("Email")
                            dd
                                span(ng-if="!showEditEmail") {{user.email}}
                                div.input-group(ng-if="showEditEmail")
                                  input.form-control(type='email', ng-model="user.email", autofocus, ng-enter="updateUser('email')")
                                  .input-group-btn
                                    button.btn.btn-danger(type='button', tabindex='-1', ng-click="cancelEmail()")= __("Cancel")
                                    button.btn.btn-primary(type='button', tabindex='-1', ng-click="updateUser('email')")= __("Send")
                                i.fa.fa-edit.ml10.pointer(ng-click="editEmail()", ng-if="!showEditEmail")
                            dt= __("Roles")
                            dd
                                each role, i in user.roles
                                    if i != 0
                                        span , #{role}
                                    else 
                                        span #{role}
                                if !user.roles.length
                                    span.text-warning #{__('No roles')}
                            dt= __("Password")
                            dd
                                span.text-primary.pointer(ng-click="collapsein = !collapsein")= __("Change password")
                                div#change-pass.row.collapse(ng-class="collapsein ? 'in' : ''")
                                    div.col-xs-12.col-md-6
                                        div.form-group.has-feedback(ng-class="oldPassClass")
                                            label.control-label(for="oldPass")= __("Type your old password")
                                            input#oldPass.form-control(type="password", autofocus, ng-model="pass.password", ng-blur="checkPass()")
                                            span.glyphicon.form-control-feedback(ng-class="oldPassIcon")
                                        div.form-group.has-feedback(ng-class="newPassClass")
                                            label.control-label(for="newPass")= __("Type your new password")
                                            input#newPass.form-control(type="password", ng-model="pass.newPass")
                                            span.glyphicon.form-control-feedback(ng-class="newPassIcon")
                                        div.form-group.has-feedback(ng-class="newPassClass")
                                            label.control-label(for="confirmationPass")= __("Repeat your old password")
                                            input#confirmationPass.form-control(type="password", ng-model="pass.confirmationPass")
                                            span.glyphicon.form-control-feedback(ng-class="newPassIcon")
                                    div.clearfix
                                    div.col-xs-12
                                        div.btn.btn-primary(ng-click="changePass()", ng-disabled="canSendPass")= __('Change password')
                