div.row
    div.col-md-12
        h4.title= __('Organize your homepage')
        hr

div.row.dist
    div.col-md-9.col-xs-12
        div.panel.panel-default
            div.panel-heading
            div.panel-body.page-header
                div.row
                    div.col-xs-12.modules-row(ng-repeat="element in elements_enabled_center")
                        div.module-col-lg(data-drop="true", ng-model='elements_enabled_center', data-jqyoui-options="{accept:'.btn-primary'}", jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(elements_enabled_center[$index], $index, 0)'}")
                            div.btn.btn-lg.btn-block(ng-class="{'btn-info': element.ui_type == 'module', 'btn-warning': element.ui_type == 'social_widget', 'btn-primary': element.ui_type == 'custom_widget'}", ng-show="elements_enabled_center[$index].name", name="{{elements_enabled_center[$index].name}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", ng-model="elements_enabled_center", jqyoui-draggable="{index:{{$index}}, placeholder:true}") {{elements_enabled_center[$index].real_name}}
                    //- div.col-xs-12.modules-row
                    //-     div.module-col-lg(data-drop="true", ng-model='custom_widgets_availabled', data-jqyoui-options="{accept:'.btn-primary'}")
                    //-         div.btn.btn-lg.btn-block(ng-class="{'btn-info': custom_widget.ui_type == 'module', 'btn-warning': custom_widget.ui_type == 'social_widget', 'btn-primary': custom_widget.ui_type == 'custom_widget'}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}" ng-model="custom_widgets_availabled") &nbsp;
            div.panel-body.page-modules
                div.row
                    div.col-xs-8
                        div.modules-row(ng-repeat="element in elements_enabled_left")
                            div.module-col(data-drop="true", ng-model='elements_enabled_left', jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(elements_enabled_left[$index], $index, 1)'}")
                                div.btn.btn-block(ng-class="{'btn-info': element.ui_type == 'module', 'btn-warning': element.ui_type == 'social_widget', 'btn-primary': element.ui_type == 'custom_widget'}", ng-show="elements_enabled_left[$index].name", name="{{elements_enabled_right[$index].name}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", ng-model="elements_enabled_left", jqyoui-draggable="{index:{{$index}}, placeholder:true}") {{elements_enabled_left[$index].real_name}}
                    div.col-xs-4
                        div.modules-row(ng-repeat="element in elements_enabled_right")
                            div.module-col(data-drop="true", ng-model='elements_enabled_right', jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(elements_enabled_right[$index], $index, 2)'}")
                                div.btn.btn-block(ng-class="{'btn-info': element.ui_type == 'module', 'btn-warning': element.ui_type == 'social_widget', 'btn-primary': element.ui_type == 'custom_widget'}", ng-show="elements_enabled_right[$index].name", name="{{elements_enabled_right[$index].name}}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}", ng-model="elements_enabled_right", jqyoui-draggable="{index:{{$index}}, placeholder:true}") {{elements_enabled_right[$index].real_name}}
    div.col-md-3.col-xs-12
        div.row
            h4.title= __('Modules')
            hr
            if modules.length > 0
                div.col-xs-12.modules-row(ng-repeat="module in modules_availabled")
                    div.module-col(data-drop="true", ng-model='modules_availabled', data-jqyoui-options="{accept:'.btn-info'}", jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(modules_availabled[$index], null, null)'}")
                        div.btn.btn-block(ng-class="{'btn-info': widget.ui_type == 'module', 'btn-warning': widget.ui_type == 'social_widget', 'btn-primary': widget.ui_type == 'custom_widget'}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}" ng-model="modules_availabled" jqyoui-draggable="{index:{{$index}}, placeholder:true, onStart:'startCallback(module, $index)'}" ng-hide="!module.name") {{module.real_name}}
            else
                div.alert.alert-warning
                    span= __('No modules availables')
        div.row
            h4.title= __('UI elements')
            hr
            div.col-xs-12.modules-row(ng-repeat="custom_widget in custom_widgets_availabled")
                div.module-col(data-drop="true", ng-model='custom_widgets_availabled', data-jqyoui-options="{accept:'.btn-primary'}", jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(custom_widgets_availabled[$index], null, null)'}")
                    div.btn.btn-block(ng-class="{'btn-info': custom_widget.ui_type == 'module', 'btn-warning': custom_widget.ui_type == 'social_widget', 'btn-primary': custom_widget.ui_type == 'custom_widget'}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}" ng-model="custom_widgets_availabled" jqyoui-draggable="{index:{{$index}}, placeholder:true, onStart:'startCallback(custom_widget, $index)'}" ng-hide="!custom_widget.name") {{custom_widget.real_name}}
        div.row
            h4.title= __('Social networks')
            hr
            div.col-xs-12.modules-row(ng-repeat="social_widget in social_widgets_availabled")
                div.module-col(data-drop="true", ng-model='social_widgets_availabled', data-jqyoui-options="{accept:'.btn-warning'}", jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(social_widgets_availabled[$index], null, null)'}")
                    div.btn.btn-block(ng-class="{'btn-info': social_widget.ui_type == 'module', 'btn-warning': social_widget.ui_type == 'social_widget', 'btn-primary': social_widget.ui_type == 'custom_widget'}", data-drag="true", data-jqyoui-options="{revert: 'invalid'}" ng-model="social_widgets_availabled" jqyoui-draggable="{index:{{$index}}, placeholder:true, onStart:'startCallback(social_widget, $index)'}" ng-hide="!social_widget.name") {{social_widget.real_name}}